html
  include includes/head.pug
  body
    div(class="container")
      form(action="/login" method="POST")
        h2(class="form-signin-heading center-block" style="margin-top:30px;") Вход
        div(class="form-group")
          label(for="inputEmail" class="sr-only") Введите Email адресс
          input(type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus)
        div(class="form-group")
          label(for="inputPassword" class="sr-only") Пароль
          input(type="password" id="inputPassword" name="password" class="form-control pass" placeholder="Пароль" required)
        br
        button(class="btn btn-primary" type="submit") Вход