html
  include includes/head.pug
  body
    div(class="container")
      form(action="/reg" method="POST")
        h2(class="form-signin-heading center-block" style="margin-top:30px;") Регистрация
        div(class="form-group")
          label(for="inputEmail" class="sr-only") Введите Email адресс
          input(type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus)
        div(class="form-group")
          label(for="inputFirstname" class="sr-only") Имя
          input(type="text" id="inputFirstname" name="firstName" class="form-control" placeholder="Имя" required)
        div(class="form-group")
          label(for="inputLastname" class="sr-only") Фамилия
          input(type="text" id="inputLastname" name="lastName" class="form-control" placeholder="Фамилия" required)
        div(class="form-group")
          label(for="inputPassword" class="sr-only") Пароль
          input(type="password" id="inputPassword" name="password" class="form-control pass" placeholder="Пароль" required)
        div(class="form-group")
          label(for="inputConfirmPassword" class="sr-only") Повторите пароль ещё раз
          input(type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control conf-pass" placeholder="Пароль" required)
          label(class="information")
        br
        button(class="btn btn-primary" type="submit") Регистрация


    script.
      let form = document.querySelector("form");
      let pass = document.querySelector(".pass");
      let confirmPass = document.querySelector(".conf-pass");
      let info = document.querySelector(".information");
      console.log(form,pass,confirmPass, info);
      form.onsubmit = function(evt) {


      if (pass.value  !== confirmPass.value){
      evt.preventDefault();
      info.innerHTML = 'Пароли не совпадают';
      }
      }